[submodule "Submarine"]
    path = Submarine
    url = https://github.com-work/CodeWithDhruvX/Submarine.git
[submodule "little-submarine"]
    path = little-submarine
    url = https://github.com-work/CodeWithDhruvX/little-submarine.git
